<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
<meta http-equiv="charset" content="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Adeti.org:ajouter un article ou un commentaire!</title>
<link rel='stylesheet' id='woo-layout-css'  href='templates/css/style.css' type='text/css' media='all' />


<link rel="shortcut icon" href="templates/images/adeti.png" />
<link rel="icon" type="image/png" href="templates/images/adeti.png" />
</head>
<body>


<div id="contact" class="contenu">
 {% if form.stateform == 1 %}
<div class="error">Les erreurs sont indiquées en jaune.</div><br />
{% elseif form.stateform == 0 %}
<div class="success">Bien envoyé !</div><br />
{% endif %}

<form id="Inscription" method="post" action="{{ url }}">
<p>Utilisez ce formulaire pour ajouter un article ou un commentaire sur cette page.<br />
  <input type="hidden" name="do" value="contact" />
  Type de message:<br />
<input type="radio" id="lugmsg" name="typemsg" value="lugmsg" /><label for="lugmsg">Participer a la discussion</label><br />
  
  <input  checked="checked" type="radio" id="postcomm" name="typemsg" value="postcomm" /><label for="postcomm">Ajouter un commentaire à un article</label><br />

<input type="radio" name="typemsg" id="eventsign" value="eventsign" />Ajouter un article
<label for="eventsign"></label>{{ ctform['typemsg_error'] }}<br />
   
    <label id='ct_name'>Votre nom ou pseudo*:</label><br />{{ ctform['name_error'] }}
      <input type='text' name='ct_name' size='20' value="{{ctform['ct_name']}}"/><br />
  
    <label id='ct_email'>Votre email*:</label><br />{{ctform['email_error']}}<input type='text' name='ct_email' size='20' value="{{ctform['ct_email']}}" /><br />
   
      <label id="ct_message">Message*:</label><br />{{ctform['message_error']}}<br /><textarea name="ct_message" rows="8" cols="40">{{ctform['ct_message']}}</textarea><br />{{ captcha | raw }}
</div>


</body>
</html>
