{% extends "AdetiBlogBundle::layout.html.twig" %}
{% block header %}
    {{ parent() }}
{{ head|raw }}
{% endblock %}
{% block menu %}
menu
{% include  "AdetiBlogBundle:Blog:commons/menu.html.twig" %}
{% endblock %}


{% block articleblock %}
    {{ parent() }}
{% endblock %}

{% block discussionblock %}
{% include  "AdetiBlogBundle:Blog:commons/discussions.html.twig" %}
{% endblock %}


{% block formulaire %}
<div class="contenu" >{{ render(controller('AdetiRecaptchaBundle:Captcha:code' ,{  'max': 3
    })) }}

</div>
{% endblock %}





