{% include  "AdetiBlogBundle:Blog:header.html.twig" %}
<div class="contenu" id="discussion" > 
Discussions sur le site:
{% include  "AdetiBlogBundle:Discuter:discussiontous.html.twig" %}
       
                    <hr/><a href="discuter/parler" >ajout topic</a>     
</div>

{% include  "AdetiBlogBundle:Blog:footer.html.twig" %}


