<span class="menuleftfooter">
        <a href='http://www.php.net/'>
			<img  src="http://diasporaesprod.free.fr/rsc/img/footer/php5-powered.gif" alt="logo de PHP5" height='15' width='80' />
        </a><br/>
        <a href='http://www.mysql.fr/'>
            <img  src="http://diasporaesprod.free.fr/rsc/img/footer/mysql-powered.gif" alt="logo de MySQL5" height='15' width='80' />
        </a>
    </span>
	<span class="menurightfooter" style="display:block;margin:auto;">
	    <a href='http://validator.w3.org/check?uri=http%3A%2F%2Flug.adeti.org%2Fanniv.php&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;ss=1&amp;outline=1&amp;group=0&amp;verbose=1&amp;user-agent=W3C_Validator%2F1.3+http%3A%2F%2Fvalidator.w3.org%2Fservices'>
            <img  src="http://diasporaesprod.free.fr/rsc/img/footer/w3c-xhtml1.1.gif" alt="Site valide XHTML strict 1.1" height='15' width='80' />
        </a><br/>
        <a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Flug.adeti.org%2Fanniv.php">
            <img src="http://diasporaesprod.free.fr/rsc/img/footer/w3c-css2.1.gif" alt="Valid CSS 2.1" height="15" width="80" />
        </a>
    </span>
	<div style="clear:none;display:block;margin-top:5px;" class="centered">
		<a href="http://www.adeti.org/-L-association-">Tuxun Free Software <img src="templates/images/ccbyncsa.png" alt="Creative Commons" height="22" width="80" /> TFLSH 2011-2014
		</a>
	</div>
