{% block header %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
<meta http-equiv="charset" content="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Adeti.org blog libre du LUG!</title>
<link rel='stylesheet' id='woo-layout-css'  href='/lug//sf2/src/Adeti/BlogBundle/Resources/public/css/style.css' type='text/css' media='all' />


<link rel="shortcut icon" href="/lug/sf2/src/Adeti/BlogBundle/Resources/public/images/adeti.png" />
<link rel="icon" type="image/png" href="/lug/sf2/src/Adeti/BlogBundle/Resources/public/images/adeti.png" />
</head><body>
{% endblock %}
