{% block header %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
<meta http-equiv="charset" content="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Adeti.org blog libre du LUG!</title>

{% stylesheets '@AdetiBlogBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type='text/css' media='all'  />
{% endstylesheets %}


{% javascripts '@AdetiBlogBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<link rel="shortcut icon" href="{{ asset('@AdetiBlogBundle/Resources/public/images/adeti.png') }}" />
<link rel="icon" type="image/png" href="{{ asset('@AdetiBlogBundle/Resources/public/images/adeti.png') }}" />
</head><body>
{% endblock %}
