<div id="menu" > 
<a href="http://localhost/lug/index.php/blog/articles">admarticles</a>
<hr />

<a href="http://localhost/lug/index.php/blog/discussion">admdiscussion</a>
<a href="http://localhost/lug/index.php/blog/discuter/parler">discuter</a>
<a href="http://localhost/lug/index.php/blog/discuter/repondre/1">repondre1</a>
<a href="http://localhost/lug/index.php/blog/discuter/repondre">repondreQuoi?</a>
<hr />

admcontact:
<a href="http://localhost/lug/index.php/blog/contacter/mailing-list">ml</a>
<a href="http://localhost/lug/index.php/blog/contacter/ca-bureau">ca/bureau</a>
<a href="http://localhost/lug/index.php/blog/contacter/animateurs">animateurs?</a>
<hr />
test sf:
<a href="http://localhost/lug/index.php/blog/login">login</a>
<a href="http://localhost/lug/index.php/blog/admin">admin</a>
<a href="http://localhost/lug/index.php/blog/formtest">form</a>
<img alt="logo adeti" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/images/adeti.png"/> 
</div> 
