{% block header %}
{% include  "AdetiBlogBundle:Blog:commons/header.html.twig" %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
{% block article %}
{% endblock %}
{% block discussion %}
{% endblock %}

{% block formulaire %}
{% endblock %}
 </div>   

{% endblock %}

