{% block header %}
{% include  "AdetiBlogBundle:Blog:commons/header.html.twig" %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
{% block articleblock %}
{% include  "AdetiBlogBundle:Blog:commons/articles.html.twig" %}
{% endblock %}
{% block discussionblock %}
{% include  "AdetiBlogBundle:Blog:commons/discussions.html.twig" %}
{% endblock %}

{% block formulaire %}
{% endblock %}
 </div>   

{% endblock %}
{% block footer %}
{% include  "AdetiBlogBundle:Blog:commons/footer.html.twig" %}
{% endblock %}
