{% include  "AdetiBlogBundle:Blog:header.html.twig" %}
<div class="contenu" id="discussion" > 
ajoutez un sujet de  discussion en utilisant le formulaire en bas
{% include  "AdetiBlogBundle:Discuter:discussiontous.html.twig" %}

{% include  "AdetiBlogBundle:Discuter:parlerform.html.twig" %}</div>                         
{% include  "AdetiBlogBundle:Blog:footer.html.twig" %}
